/*  CSS RESET  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: black;
	text-decoration: none;
}
/*  Fonts  */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

/*  clearfix  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}

/*  Global  */
body {
	font-family: 'Droid Serif', serif;
	color: rgb(73, 76, 78);
	border: 7px solid rgb(73, 76, 78);
}
img {
	max-width: 100%;
}
.flex {
	display: flex;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.container {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.header-border {
	border-bottom: 1px solid rgb(240, 238, 238);
	padding-bottom: 30px;
}

/*  header  */

header {
	height: 100%;
}
nav {
	padding: 30px 0;
	overflow: hidden;
	position: relative;
}
nav ul {
	width: 500px;
	margin-top: 10px;
	float: right;
	list-style: none;
	text-align: right;
	position: absolute;
	right: -70px;
	transition: right 0.7s ease-in;
}
nav li {
	font-size: 1.2em;
	display: inline;
	margin-right: 4%;
}
nav li:last-child{
	margin-right: 0;
}
nav li:hover {
	border-bottom: 2px rgb(0, 152, 212) solid;
}
.show {
	right: 0;
}
.social-links a {
	transition: all 0.3s;
}
.social-links a:hover {
	color: rgb(0, 152, 212);
	transform: scale(1.3);
}
.social-links:hover {
	border-bottom: 0;
}
.logo {
	position: relative;
	width: 48px;
	height: 48px;
	float: left;
	margin-left: 20px;
}
.logo:before {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	z-index: 1;
	content: "";
  position: absolute;
	border: 4px solid black;
	transition: transform 0.8s ease-in-out;
}
.logo:hover::before {
	transform: rotate(90deg);
}
.logo a {
	font-size: 18px;
	display: block;
	margin: 15px 16px;
	font-weight: bold;
	z-index: 2;
	position: relative;
}
.logo a:hover {
	color: rgb(0, 152, 212);
}
header h1 {
	font-size: 2.2em;
	font-weight: bold;
	padding: 60px 10% 50px 10%;
}
.header-img-div {
	width: 100%;
	height: 400px;
	overflow: hidden;
}
header img {
	width: 100%;
	height: auto;
	position: relative;
	top: -70px;
}

/*  front page main content */

main {
	margin-top: 40px;
}
.main-content {
	margin: 10px 10% 30px 10%;
	padding-top: 30px;
	border-bottom: 2px solid rgb(224, 225, 226);
}
.main-content h1 {
	font-size: 2.2em;
	font-weight: bold;
	margin-bottom: 20px;
}
.main-content h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(0, 152, 212);
	margin-bottom: 20px;
}
.main-content p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 30px;
}
#brief-about h1{
	text-align: center;
	color: rgb(0, 152, 212);
}
#brief-about p{
	text-align: center;
	margin-top: 5%;
}
.link-button {
	font-size: 1.3em;
	color: rgb(0, 152, 212);
	width: 150px;
	border: 3px solid rgb(0, 152, 212);
  padding: 14px 25px;
  text-align: center; 
  display: block;
  margin: 50px auto;
  transition: 0.4s;
}
.link-button:hover {
	background-color: rgb(0, 152, 212);
	color: white;
}
.dec-imgs-div {
	margin: 100px auto;
	width: 800px;
	height: 185px;
	overflow: hidden;
}
.dec-img {
	margin-right: 20px;
	width: 185px;
	height: auto;
}
.dec-img:last-child {
	margin-right: 0;
}
.project-div {
	margin-top: 5%;
	display: flex;
}
.project-img {
	width: 275px;
	height: 190px;
	margin: 0 30px;
	border: 1px solid rgb(154, 156, 158);
}
.project-detail-div {
	width: 55%;
	padding: 20px;
}

/*  footer  */

footer p {
	margin: 30px;
	text-align: center;
}

/*  media query  */

@media screen and (max-width: 1160px){
	.featured-projects {
		display: flex;
		justify-content: space-between;
	}
	#second-project-img {
		order: -1;
	}
	.project-div {
		flex-basis: 30%;
		align-content: flex-start;
	}
	.project-img {
		width: 200px;
		height: 150px;
		margin: 0;
	}
	.project-detail-div {
		width: 100%;
		padding: 20px;
	}
}

@media screen and (max-width: 1110px){
	.dec-imgs-div {
		margin: 100px auto;
		width: 650px;
		height: 150px;
		overflow: hidden;
	}
	.dec-img {
		margin-right: 12.5px;
		width: 150px;
		height: auto;
	}
}

@media screen and (max-width: 910px){
	.dec-imgs-div {
		display: none;
	}
}

@media screen and (max-width: 790px){
	.featured-projects {
		display: block;
	}
	.project-div {
		flex-wrap: nowrap;
	}
	.project-detail-div p {
		margin-bottom: 0;
	}
	.project-detail-div {
		padding-bottom: 0;
		padding-top: 0;
	}
	.project-img {
		width: 170px;
		height: 130px;
	}
}
